-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: giaoly_tanmy_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `display_name` varchar(100) DEFAULT 'Ban Quản Trị',
  `role` varchar(20) DEFAULT 'admin',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'admin','admin123','Quản Trị Viên Giáo Xứ','admin','2026-08-29 23:54:32'),(2,'bql','123456','Ban Giáo Lý Tân Mỹ','admin','2026-08-29 23:54:32');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_assignments`
--

DROP TABLE IF EXISTS `class_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `class_assignments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `class_id` varchar(50) NOT NULL COMMENT 'Mã lớp (Khóa ngoại)',
  `teacher_id` varchar(50) NOT NULL COMMENT 'Mã GLV (Khóa ngoại)',
  `role` varchar(100) DEFAULT 'Đồng hành' COMMENT 'Vai trò phụ trách (Chủ nhiệm, Đồng hành, Hỗ trợ)',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_class_teacher` (`class_id`,`teacher_id`),
  KEY `teacher_id` (`teacher_id`),
  CONSTRAINT `class_assignments_ibfk_1` FOREIGN KEY (`class_id`) REFERENCES `classes` (`class_id`) ON DELETE CASCADE,
  CONSTRAINT `class_assignments_ibfk_2` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`teacher_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=239 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_assignments`
--

LOCK TABLES `class_assignments` WRITE;
/*!40000 ALTER TABLE `class_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_assignments_backup_20260901`
--

DROP TABLE IF EXISTS `class_assignments_backup_20260901`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `class_assignments_backup_20260901` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `class_id` varchar(50) NOT NULL COMMENT 'Mã lớp (Khóa ngoại)',
  `teacher_id` varchar(50) NOT NULL COMMENT 'Mã GLV (Khóa ngoại)',
  `role` varchar(100) DEFAULT 'Đồng hành' COMMENT 'Vai trò phụ trách (Chủ nhiệm, Đồng hành, Hỗ trợ)',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_class_teacher` (`class_id`,`teacher_id`),
  KEY `teacher_id` (`teacher_id`)
) ENGINE=InnoDB AUTO_INCREMENT=109 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_assignments_backup_20260901`
--

LOCK TABLES `class_assignments_backup_20260901` WRITE;
/*!40000 ALTER TABLE `class_assignments_backup_20260901` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_assignments_backup_20260901` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classes` (
  `class_id` varchar(50) NOT NULL COMMENT 'Mã lớp (Ví dụ: DBKT_2627, TS1_2627)',
  `class_name` varchar(100) NOT NULL COMMENT 'Tên lớp (Ví dụ: Dự Bị Khai Tâm, Thêm Sức 1)',
  `block` varchar(50) NOT NULL COMMENT 'Khối lớp (Khai Tâm, Rước Lễ, Thêm Sức, Bao Đồng, Vào Đời)',
  `academic_year` varchar(20) NOT NULL DEFAULT '2026-2027' COMMENT 'Năm học (Ví dụ: 2026-2027)',
  `room` varchar(100) DEFAULT '' COMMENT 'Phòng học',
  `schedule` varchar(100) DEFAULT 'Chủ Nhật: 07:30 - 09:00' COMMENT 'Lịch học',
  `note` text DEFAULT NULL COMMENT 'Ghi chú',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`class_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `doc_id` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `category` varchar(50) NOT NULL DEFAULT 'Giáo Trình',
  `format` varchar(20) NOT NULL DEFAULT 'PDF',
  `target` varchar(150) DEFAULT NULL,
  `size` varchar(50) DEFAULT NULL,
  `author` varchar(150) DEFAULT NULL,
  `downloads` int(11) NOT NULL DEFAULT 0,
  `desc` text DEFAULT NULL,
  `content` longtext DEFAULT NULL,
  `file_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `doc_id` (`doc_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrollments_and_grades`
--

DROP TABLE IF EXISTS `enrollments_and_grades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `enrollments_and_grades` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Mã bảng điểm (Khóa chính tự tăng)',
  `student_id` varchar(50) NOT NULL COMMENT 'Mã thiếu nhi (Khóa ngoại)',
  `class_id` varchar(50) NOT NULL COMMENT 'Mã lớp (Khóa ngoại)',
  `academic_year` varchar(20) NOT NULL DEFAULT '2026-2027' COMMENT 'Năm học',
  `stt_in_class` int(11) NOT NULL DEFAULT 1 COMMENT 'Số thứ tự trong lớp',
  `role_in_class` varchar(100) DEFAULT 'Đang theo học' COMMENT 'Vai trò (Lớp trưởng, Lớp phó, Ban Lễ Sinh, Ca đoàn, Đang theo học)',
  `score_attendance_1` decimal(4,2) DEFAULT NULL COMMENT 'Chuyên cần HK1',
  `score_oral_1` decimal(4,2) DEFAULT NULL COMMENT 'Điểm Miệng HK1',
  `score_15m_1` decimal(4,2) DEFAULT NULL COMMENT 'Điểm 15 phút HK1',
  `score_1period_1` decimal(4,2) DEFAULT NULL COMMENT 'Điểm 1 tiết HK1',
  `score_exam_1` decimal(4,2) DEFAULT NULL COMMENT 'Điểm Thi HK1',
  `score_avg_1` decimal(4,2) DEFAULT NULL COMMENT 'Điểm Trung Bình HK1',
  `score_attendance_2` decimal(4,2) DEFAULT NULL COMMENT 'Chuyên cần HK2',
  `score_oral_2` decimal(4,2) DEFAULT NULL COMMENT 'Điểm Miệng HK2',
  `score_15m_2` decimal(4,2) DEFAULT NULL COMMENT 'Điểm 15 phút HK2',
  `score_1period_2` decimal(4,2) DEFAULT NULL COMMENT 'Điểm 1 tiết HK2',
  `score_exam_2` decimal(4,2) DEFAULT NULL COMMENT 'Điểm Thi HK2',
  `score_avg_2` decimal(4,2) DEFAULT NULL COMMENT 'Điểm Trung Bình HK2',
  `score_final` decimal(4,2) DEFAULT NULL COMMENT 'Điểm Tổng Kết Cả Năm',
  `evaluation` varchar(50) DEFAULT 'Đang học' COMMENT 'Xếp loại (Xuất Sắc, Giỏi, Khá, Đạt, Chưa đạt)',
  `note` text DEFAULT NULL COMMENT 'Ghi chú học tập / Hạnh kiểm',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_student_class_year` (`student_id`,`class_id`,`academic_year`),
  KEY `class_id` (`class_id`),
  CONSTRAINT `enrollments_and_grades_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE,
  CONSTRAINT `enrollments_and_grades_ibfk_2` FOREIGN KEY (`class_id`) REFERENCES `classes` (`class_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=292 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrollments_and_grades`
--

LOCK TABLES `enrollments_and_grades` WRITE;
/*!40000 ALTER TABLE `enrollments_and_grades` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrollments_and_grades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news`
--

DROP TABLE IF EXISTS `news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `news` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `news_id` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `category` varchar(50) NOT NULL DEFAULT 'Khẩn',
  `date` varchar(50) DEFAULT NULL,
  `author` varchar(150) DEFAULT NULL,
  `summary` text DEFAULT NULL,
  `content` longtext NOT NULL,
  `is_pinned` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_id` (`news_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news`
--

LOCK TABLES `news` WRITE;
/*!40000 ALTER TABLE `news` DISABLE KEYS */;
/*!40000 ALTER TABLE `news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `student_id` varchar(50) NOT NULL COMMENT 'Mã thiếu nhi (Khóa chính)',
  `holy_name` varchar(100) DEFAULT '' COMMENT 'Tên thánh bổn mạng',
  `last_name` varchar(100) NOT NULL COMMENT 'Họ và tên đệm',
  `first_name` varchar(50) NOT NULL COMMENT 'Tên',
  `full_name` varchar(150) NOT NULL COMMENT 'Họ và tên đầy đủ',
  `gender` varchar(10) NOT NULL DEFAULT 'Nam' COMMENT 'Giới tính (Nam/Nữ)',
  `birth_date` varchar(20) DEFAULT '' COMMENT 'Ngày sinh (DD/MM/YYYY)',
  `address` varchar(255) DEFAULT '' COMMENT 'Địa chỉ / Giáo họ',
  `parent_name` varchar(150) DEFAULT '' COMMENT 'Tên Phụ huynh (Cha/Mẹ)',
  `parent_phone` varchar(20) DEFAULT '' COMMENT 'Số điện thoại phụ huynh',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teachers`
--

DROP TABLE IF EXISTS `teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teachers` (
  `teacher_id` varchar(50) NOT NULL COMMENT 'Mã GLV (Khóa chính)',
  `stt` int(11) NOT NULL COMMENT 'Số thứ tự',
  `holy_name` varchar(100) DEFAULT '' COMMENT 'Tên thánh',
  `last_name` varchar(100) NOT NULL COMMENT 'Họ và tên đệm',
  `first_name` varchar(50) NOT NULL COMMENT 'Tên',
  `gender` varchar(10) NOT NULL DEFAULT 'Nữ' COMMENT 'Giới tính (Nam/Nữ)',
  `cert` varchar(50) DEFAULT '' COMMENT 'Chứng chỉ GLV (Cấp 1, 2, 3, 3 - BMVTN)',
  `role` varchar(100) DEFAULT 'Chưa phân công',
  `phone` varchar(20) DEFAULT '' COMMENT 'Số điện thoại',
  `email` varchar(100) DEFAULT '' COMMENT 'Email liên hệ',
  `photo_url` text DEFAULT NULL COMMENT 'Ảnh thẻ',
  `status` varchar(50) NOT NULL DEFAULT 'Đang dạy học' COMMENT 'Trạng thái hoạt động (Đang dạy học / Hỗ trợ / Tạm nghỉ)',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`teacher_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teachers`
--

LOCK TABLES `teachers` WRITE;
/*!40000 ALTER TABLE `teachers` DISABLE KEYS */;
/*!40000 ALTER TABLE `teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teachers_backup_20260901`
--

DROP TABLE IF EXISTS `teachers_backup_20260901`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teachers_backup_20260901` (
  `teacher_id` varchar(50) NOT NULL COMMENT 'Mã GLV (Khóa chính)',
  `stt` int(11) NOT NULL COMMENT 'Số thứ tự',
  `holy_name` varchar(100) DEFAULT '' COMMENT 'Tên thánh',
  `last_name` varchar(100) NOT NULL COMMENT 'Họ và tên đệm',
  `first_name` varchar(50) NOT NULL COMMENT 'Tên',
  `gender` varchar(10) NOT NULL DEFAULT 'Nữ' COMMENT 'Giới tính (Nam/Nữ)',
  `cert` varchar(50) DEFAULT '' COMMENT 'Chứng chỉ GLV (Cấp 1, 2, 3, 3 - BMVTN)',
  `phone` varchar(20) DEFAULT '' COMMENT 'Số điện thoại',
  `email` varchar(100) DEFAULT '' COMMENT 'Email liên hệ',
  `photo_url` text DEFAULT NULL COMMENT 'Ảnh thẻ',
  `status` varchar(50) NOT NULL DEFAULT 'Đang dạy học' COMMENT 'Trạng thái hoạt động (Đang dạy học / Hỗ trợ / Tạm nghỉ)',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`teacher_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teachers_backup_20260901`
--

LOCK TABLES `teachers_backup_20260901` WRITE;
/*!40000 ALTER TABLE `teachers_backup_20260901` DISABLE KEYS */;
/*!40000 ALTER TABLE `teachers_backup_20260901` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-06 22:53:05
